html,
body {
    height: 100%;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}

#mapArea {
    width: 100%;
    height: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
    cursor: crosshair;
}